<li>
    <a class="btn btn-sm btn-light clickbait" data-id="{{id}}" href="/articles/{{id}}">{{title}}</a>
    <a class="btn btn-sm btn-info" href="https://destructoid.com/{{url}}" >Go!</a>
    {{!-- <a class="btn btn-sm btn-dark clickbait" href="#" >Note</a> --}}
</li>

{{!-- style="list-style-image:" --}}