
<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="justify-content-center">
        <h4>{{listings}}</h4>
        <div id="articles">
          <ul>
            {{#each articles}}
            {{> articles }}
            {{/each}}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<button>back</button>

{{!-- <script src="../javascripts/scrape.js" type="text/javascript"></script> --}}