<h3>{{title}}</h3>
<p>Welcome to {{title}}, press the red button to retrive new articles, and the green to view them.</p>
<p>The view page has the option to leave notes on the articles, and, of course, all article links are live!</p>


{{!-- <script src="../javascripts/index.js" type="text/javascript"></script> --}}

